<!--  Replace menu links here -->
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/who-we-work-with/">Who we<br>Work with</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/partner-with-us.html">Partner<br>With Us</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/technology-transfer.html">Technology<br>Transfer</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/71-North/">71 North</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/people">People</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
